* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-left {
  position: relative;
}

.h2-vector {
  position: absolute;
  top: 0;
  left: -150px;
}

.img-2-column {
  height: 100%;
  margin-bottom: 128px;
}

.section-right {
  margin-top: 250px;
}

.mobile-right-image {
  position: absolute;
  bottom: -30%;
  left: 40%;
}

.blog-image-left {
  max-height: 450px;
}

.img-right-mobile {
  max-height: 430px;
  margin: 0 auto;
}

.pink-h2 {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 45.045px;
  line-height: 130%;
  color: #f6cece;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.sub-heading {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 19.68px;
  line-height: 160%;
  margin-bottom: 0;
}

.img-left {
  max-height: 430px;
}

.star-img-large {
  position: absolute;
  bottom: -80px;
  left: 0;
}

.star-img-small {
  position: absolute;
  bottom: 30px;
  left: -80px;
}

.img-right {
  margin-top: 0;
  width: 100%;
  position: absolute;
  bottom: -200px;
  left: 70px;
  max-height: 430px;
}

.container {
  max-width: 1384px;
  margin: 0 auto;
}

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 20px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop {
  display: none;
}

.align-items-center {
  display: flex;
  align-items: center;
}

@media (min-width: 750px) {
  .grid-2-column {
    grid-template-columns: 1fr 1fr;
    gap: 156px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 120px;
  }

  .blog-image-left {
    max-height: unset;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .section-left {
    margin-top: -300px;
  }

  .section-right {
    position: unset;
  }

  .img-right {
    margin-top: 180px;
  }

  .img-left {
    max-height: 979px;
  }

  .img-left,
  .img-right {
    width: 100%;
  }

  .img-right-mobile {
    max-height: unset;
  }

  .sub-heading {
    margin-bottom: 180px;
  }
}
